In [84]:
import import_ipynb
%run ./core.ipynb

Shyamrag -> Radhika -> Anurag -> Malavika -> Prathyusha
Anurag -> Malavika

In [85]:
class LinkedListReversal(LinkedList):
    def __init__(self, header):
        super().__init__(header)

    def reverse(self):
        predecessor = None
        if self.header == None:
            return Exception("LinkedList is empty")
        current = self.header
        while current is not None:
            successor = current.next
            current.next = predecessor
            predecessor = current
            current = successor
        self.header = predecessor
        return True

In [86]:
linked_list = LinkedListReversal(Node(value='1'))
linked_list.insert_at_end(value='2')
linked_list.insert_at_front(value='3')
linked_list.insert_at_end(value='4')
linked_list.insert_at_front(value='5')

In [87]:
print(linked_list)

5 -> 3 -> 1 -> 2 -> 4

In [88]:
linked_list.reverse()

True

In [89]:
print(linked_list)

4 -> 2 -> 1 -> 3 -> 5